{% set page_title = "Contact | Integrated Financial Holdings, Inc." %}
{% set heading = "Contact Us" %}
{% set body_id = "contact" %}




{% extends "layout/layout.html" %}



{% block header %}
{% from "sections/nav-macro.html" import navBar %}
{{ navBar('images/ifh-logo-white.png','160','text-white','bg-transparent','blue') }}
{% endblock %}


{% block content %}
{% include "sections/contact.html" %}
{% endblock %}

{% block footer %}
{% include "sections/footer.html" %}

<!-- iFrame Resizer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.1/iframeResizer.min.js"
    integrity="sha512-ngVIPTfUxNHrVs52hA0CaOVwC3/do2W4jUEJIufgZQicmY27iAJAind8BPtK2LoyIGiAFcOkjO18r5dTUNLFAw=="
    crossorigin="anonymous"></script>
<script>
    iFrameResize({ log: false }, '#pardotForm')
    iFrameResize({ log: false }, '#pardotForm')
</script>

{% endblock %}