<section class="about">
    <div class="container">
        <div id="who-we-are" class="row">
            <div class="col-lg-5 order-1 order-lg-2 py-3 text-center">
                <img src="images/who-we-are.jpg" class="img-fluid" width="800" alt="">
            </div>
            <div class="col-lg-7 py-3 order-2 order-lg-1">
                <h2>WHO WE ARE</h2>
                <p class="text-justify">
                    Integrated Financial Holdings, Inc. (OTCPK: IFHI) is a North Carolina-based financial services
                    holding company, specializing in small business lending
                    solutions and targeted bank deposit products to
                    underserved verticals with a focus on technology and collaborative, opportunistic investments.
                    Through its six wholly-owned subsidiaries (West Town Bank & Trust, West Town Insurance Agency Inc.,
                    Windsor Advantage, LLC, Glenwood Structured Finance, LLC, SBA Loan
                    Documentation Services, LLC and Patriarch, LLC) the IFH family of companies employs nearly 130
                    people in approximately 12 locations across 7 states. IFH holds a minority investment in two
                    additional companies (VeriLeaf, Inc. and Dogwood State Bank) and recently formed a joint venture
                    with West Town Payments, LLC. IFH is registered with, and supervised by, the Federal Reserve.</p>
            </div>


        </div>
        <div id="what-we-do" class="row">
            <div class="col-lg-5 py-2 text-center">
                <img src="images/what-we-do.jpg" class="img-fluid" width="800" alt="">
            </div>
            <div class="col-lg-7 py-2">
                <h2 class="text-left">WHAT WE DO</h2>
                <p class="text-justify">IFH seeks to build a strong, multi-directional referral ecosystem of financial
                    services companies through acquisitions, joint ventures and organic growth. Experienced in all
                    aspects of financial services, the IFH team of talented and dedicated professionals continuously
                    seeks to redefine quality service, drive change and shape the future of the industry. IFH is
                    committed to embracing a spirit of entrepreneurship and strategic growth initiatives in an effort to
                    advance the Organization's overall financial core competencies for its small business customers
                    throughout the United States.</p>
            </div>

        </div>
    </div>
</section>