<section id="about">
    <div class="container-fluid">
        <div class="row">
            <div id="about-left" class="col-md-6">
                <h2>About IFH</h2>
            </div>
            <div class="col-md-6">
                <h2>Lorem ipsum dolor sit amet consectetur</h2>
                <p>Lorem ipsum dolor sit amet, at vix vero mazim essent. Usu ei dicat dignissim moderatius, dicat
                    numquam perpetua ei vis, cu velit democritum sententiae sed. Illud omnesque moderatius ut duo.</p>
                <p>Lorem ipsum dolor sit amet, at vix vero mazim essent. Usu ei dicat dignissim moderatius, dicat
                    numquam perpetua ei vis, cu velit democritum sententiae sed. Illud omnesque moderatius ut duo.</p>
            </div>
        </div>
    </div>
</section>