<section id="companies">
    <div id="companies-head-container">
        <div id="companies-head-overlay-1"></div>
        <div id="companies-head-overlay-2"></div>
        <div id="companies-head-content" class="container-fluid">
            <div class="row">
                <div class="col-12 px-5">
                    <h2 class="title">WEST TOWN BANK & TRUST</h2>
                    <p class="lead text-aqua">CORE BANKING SERVICES & JOINT VENTURES</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="company-container">
            <div class="intro">
                <p class="lead">West Town Bank & Trust (WTBT), is an Illinois state-chartered bank headquartered in
                    North Riverside and provides banking services through its full-service banking offices near the city
                    of Chicago. West Town Bank & Trust’s primary regulators are the Illinois Department of Financial and
                    Professional Regulation and the FDIC.
                </p>
            </div>
            <div class="company-circle-1">
                <div class="front">
                    <h4>West Town Bank &amp; Trust</h4>
                </div>
                <div class="back">
                    <p class="lead">WTBT offers a wide range of traditional banking services but selectively
                        specializes in
                        government guaranteed lending nationally, as well as tailored deposit products for specific
                        lines of business and cash management solutions
                        for industries such as
                        Hemp and CBD.</p>
                </div>
            </div>
            <div class="company-circle-2">
                <div class="front">
                    <h4>Mortgage Lending</h4>
                </div>
                <div class="back">
                    <p class="lead">WTBT promotes savings and home ownership through
                        a variety of mortgage programs, including VA, FHA, USDA, Jumbo and Conventional loan programs.
                    </p>
                </div>
            </div>
            <div class="company-circle-3">
                <div class="front">
                    <h4>West Town Payments</h4>
                </div>
                <div class="back">
                    <p class="lead">WTBT offers payment processing solutions for small and medium sized businesses of
                        all types, including compliance-driven segments through its joint venture with West Town
                        Payments.</p>
                </div>
            </div>
            <div class="company-circle-4">
                <div class="front">
                    <h4>GOVERNMENT LENDING</h4>
                </div>
                <div class="back">
                    <p class="lead">WTBT is focused on lending programs supported by the U.S. Federal Government,
                        including the SBA (7(a), 504) and USDA (B&I, REAP, FSA, CF) programs. Since 2011, WTBT has
                        authorized more than $1 billion in loans to businesses located in 41 states.</p>
                </div>
            </div>
            <div class="company-circle-5">
                <div class="front">
                    <h4>HEMP BANKING SERVICES</h4>
                </div>
                <div class="back">
                    <p class="lead">WTBT built a hemp program uniquely tailored to the challenges of hemp-related
                        businesses (HRBs) and trademarked “Hemp Banks Here”.</p>
                </div>
            </div>
            <div class="company-circle-6">
                <div class="front">
                    <h4>COMMERCIAL ACCOUNT SERVICES</h4>
                </div>
                <div class="back">
                    <p class="lead">WTBT has a team dedicated to help design cash management solutions based on the
                        unique needs of its small business
                        clients.</p>
                </div>
            </div>
            <div class="company-circle-7">
                <div class="front">
                    <h4>GOVERNMENT LENDING “SMALL LOANS”</h4>
                </div>
                <div class="back">
                    <p class="lead">WTBT offers technology enabled loan processing solutions to serve small businesses
                        with financing needs of less than $350,000.</p>
                </div>
            </div>
        </div>

    </div>

</section>