<section id="companies">
  <div class="grid-container">
    <div class="Intro">
      <div class="intro">
        <h4 class="text-body font-normal"><span class="text-dark-blue">WEST TOWN BANK & TRUST</span> | <span
            class="text-aqua">CORE
            BANKING SERVICES</span> | <span class="text-dark-grey">JOINT VENTURES</span></h4>
        <p class="lead">
          West Town Bank & Trust (WTBT), is an Illinois state-chartered bank
          headquartered in North Riverside and provides banking services
          through its full-service banking offices near the city of Chicago.
          West Town Bank & Trust’s primary regulators are the Illinois
          Department of Financial and Professional Regulation and the FDIC.
        </p>
      </div>
    </div>
    <div class="WTB">
      <div class="circle">
        <div class="front">
          <h4>West Town Bank &amp; Trust</h4>
        </div>
        <div class="back">
          <img src="images/west-town-bank-logo.png" class="img-fluid" width="100" alt="">
          <p class="lead">
            WTBT offers a wide range of traditional banking services but
            selectively specializes in government guaranteed lending
            nationally, as well as tailored deposit products for specific
            lines of business and cash management solutions for industries
            such as Hemp and CBD.
          </p>
          <a href="https://www.westtownbank.com/" target="_blank">Visit website &raquo;</a>
        </div>
      </div>
    </div>
    <div class="Mortgage">
      <div class="circle">
        <div class="front">
          <h4>Mortgage Lending</h4>
        </div>
        <div class="back">
          <div class="h1 text-dark-blue"><i class="fas fa-home"></i></div>
          <p class="lead">
            WTBT promotes savings and home ownership through a variety of
            mortgage programs, including VA, FHA, USDA, Jumbo and Conventional
            loan programs.
          </p>
        </div>
      </div>
    </div>
    <div class="Payments">
      <div class="circle">
        <div class="front">
          <h4>West Town Payments</h4>
        </div>
        <div class="back">
          <img src="images/west-town-payments-logo-color.png" class="img-fluid" width="150" alt="">
          <p class="lead">
            WTBT offers payment processing solutions for small and medium
            sized businesses of all types, including compliance-driven
            segments through its joint venture with West Town Payments.
          </p>
        </div>
      </div>
    </div>
    <div class="Gov">
      <div class="circle">
        <div class="front">
          <h4>Government Lending</h4>
        </div>
        <div class="back">
          <div class="h1 text-dark-blue">$1B+</div>
          <div class="h4 text-aqua text-uppercase">business loans</div>
          <p class="lead">
            WTBT is focused on lending programs supported by the U.S. Federal
            Government, including the SBA (7(a), 504) and USDA (B&I, REAP,
            FSA, CF) programs. Since 2011, WTBT has authorized more than $1
            billion in loans to businesses located in 41 states.
          </p>
        </div>
      </div>
    </div>
    <div class="Commercial">
      <div class="circle">
        <div class="front">
          <h4>Commercial Account Services</h4>
        </div>
        <div class="back">
          <div class="h1 text-dark-blue"><i class="fas fa-hand-holding-usd"></i></div>
          <p class="lead">
            WTBT has a team dedicated to help design cash management solutions
            based on the unique needs of its small business clients.
          </p>
        </div>
      </div>
    </div>
    <div class="Hemp">
      <div class="circle">
        <div class="front">
          <h4>Hemp Banking Services</h4>
        </div>
        <div class="back">
          <img src="images/west-town-bank-hemp-logo.png" class="img-fluid" width="200" alt="">
          <p class="lead">
            WTBT built a hemp program uniquely tailored to the challenges of
            hemp-related businesses (HRBs) and trademarked “Hemp Banks Here”.
          </p>
        </div>
      </div>
    </div>
    <div class="Small">
      <div class="circle">
        <div class="front">
          <h4>Government Lending "Small Loans"</h4>
        </div>
        <div class="back">
          <div class="h1 text-dark-blue"><i class="fas fa-tachometer-alt    "></i></div>
          <p class="lead">
            WTBT offers technology enabled loan processing solutions to serve
            small businesses with financing needs of less than $350,000.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>