<section class="companies">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="Intro">
          <div class="intro">
            <h4 class="text-body font-normal"><span class="text-dark-blue">WEST TOWN BANK & TRUST</span> | <span
                class="text-aqua">CORE
                BANKING SERVICES</span> | <span class="text-dark-grey">JOINT VENTURES</span></h4>
            <p class="lead text-justify">
              West Town Bank & Trust (WTBT), is an Illinois state-chartered bank
              headquartered in North Riverside and provides banking services
              through its full-service banking offices near the city of Chicago.
              West Town Bank & Trust’s primary regulators are the Illinois
              Department of Financial and Professional Regulation and the FDIC.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-0">

      <div class="col-lg-2 offset-lg-1">
        <div class="Commercial">
          <div class="circle">
            <div class="front">
              <h4>Commercial Account Services</h4>
            </div>
            <div class="back">
              <img src="images/commercial.png" class="img-fluid" width="150" alt="">
              <p class="lead">
                WTBT has a team dedicated to help design cash management solutions
                based on the unique needs of its small business clients.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="Hemp">
          <div class="circle">
            <div class="front">
              <h4>Hemp Banking Services</h4>
            </div>
            <div class="back">
              <img src="images/west-town-bank-hemp-logo.png" class="img-fluid" width="150" alt="">
              <p class="lead">
                WTBT built a hemp program uniquely tailored to the challenges of
                hemp-related businesses (HRBs) and trademarked “Hemp Banks Here”.
              </p>
              <a href="https://www.westtownbank.com/business/industry-solutions/hemp/" target="_blank">Visit Landing
                Page &raquo;</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 offset-lg-2">
        <div class="WTB">
          <div class="circle">
            <div class="front">
              <h4>West Town Bank &amp; Trust</h4>
            </div>
            <div class="back">
              <img src="images/west-town-bank-logo.png" class="img-fluid" width="150" alt="">
              <p class="lead">
                WTBT offers a wide range of traditional banking services but
                selectively specializes in government guaranteed lending
                nationally, as well as tailored deposit products for specific
                lines of business and cash management solutions for industries
                such as Hemp and CBD.
              </p>
              <a href="https://www.westtownbank.com/" target="_blank">Visit website &raquo;</a>
            </div>
          </div>
        </div>
      </div>




    </div><!-- // row -->

    <div class="row py-0">

      <div class="col-lg-3">
        <div class="Small">
          <div class="circle">
            <div class="front">
              <h4>Government Lending "Small Loans"</h4>
            </div>
            <div class="back">
              <img src="images/small-lending.png" class="img-fluid" width="150" alt="">
              <p class="lead">
                WTBT offers technology enabled loan processing solutions to serve
                small businesses with financing needs of less than $350,000.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="Gov">
          <div class="circle">
            <div class="front">
              <h4>Government Lending</h4>
            </div>
            <div class="back">
              <img src="images/gov-lending.png" class="img-fluid" width="150" alt="">
              <p class="lead">
                WTBT is focused on lending programs supported by the U.S. Federal
                Government, including the SBA (7(a), 504) and USDA (B&I, REAP,
                FSA, CF) programs. Since 2011, WTBT has authorized more than $1
                billion in loans to businesses located in 41 states.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 offset-lg-1">
        <div class="Payments">
          <div class="circle">
            <div class="front">
              <h4>West Town Payments</h4>
            </div>
            <div class="back">
              <img src="images/west-town-payments-logo-color.png" class="img-fluid" width="150" alt="">
              <p class="lead">
                WTBT offers payment processing solutions for small and medium
                sized businesses of all types, including compliance-driven
                segments through its joint venture with West Town Payments.
              </p>
              <p class="text-aqua">
                Website Coming Soon!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="Mortgage">
          <div class="circle">
            <div class="front">
              <h4>Mortgage Lending</h4>
            </div>
            <div class="back">
              <img src="images/mortgage-lending.png" class="img-fluid" width="100" alt="">
              <p class="lead">
                WTBT promotes savings and home ownership through a variety of
                mortgage programs, including VA, FHA, USDA, Jumbo and Conventional
                loan programs.
              </p>
              <a href="https://www.wtbt.com/" target="_blank">Visit website &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- // row -->

  </div>
</section>