<footer class="fixed-bottom">
    <div class="footer-overlay"></div>
    <div class="container-fluid">
        <div id="footer-content" class="row">
            <div class="col-md-8 text-center text-lg-left text-white d-flex align-items-end">
                <p>
                    Copyright © 2020 Integrated Financial Holdings, Inc. All Rights Reserved. | Member FDIC, Equal
                    Housing Lender | Terms & Conditions | Legal | Privacy Statement | Community Reinvestment Act
                    Strategic Plan
                </p>

            </div>
            <div class="col-md-4 text-center text-lg-right text-white">
                <p>8450 Falls Of Neuse Road, Suite 202<br />Raleigh, NC 27615 | (919) 948-1978</p>
                <img src="images/ifh-word-mark-logo-white.png" width="300" style="width: 300px; height: auto;" alt="">

            </div>
        </div>
    </div>
</footer>