<footer>
    <div class="footer-overlay"></div>
    <div class="container-fluid">
        <div id="footer-content" class="row pb-0">
            <div class="col-md-8 text-center text-lg-left text-white d-flex align-items-end pb-2">
                <p>
                    Copyright ©
                    <script language="javascript" type="text/javascript">
                        var today = new Date();
                        var year = today.getFullYear();
                        document.write(year);
                    </script> Integrated Financial Holdings, Inc. All Rights Reserved.
                </p>

            </div>
            <div class="col-md-4 text-center text-lg-right text-white">

                <p>8450 Falls Of Neuse Road, Suite 202<br />Raleigh, NC 27615 | (919) 948-1978 | <a
                        href="https://www.linkedin.com/company/integrated-financial-holdings-inc/" target="_blank"><i
                            class="fab fa-linkedin"></i></a></p>
                <img src="images/ifh-word-mark-logo-white.png" width="300" style="width: 300px; height: auto;" alt="">
            </div>
        </div>
    </div>
</footer>