<header class="v-header">
    <div class="fullscreen-video-wrap">
        <video id="header-bg-video" src="images/ifh-video-bg-stock.mov" loop="true"></video>
    </div>
    <div class="header-overlay-layer-1"></div>
    <div class="header-overlay-layer-2"></div>
    <div class="header-overlay-layer-3"></div>
    {% include "../sections/nav.html" %}
    <div class="header-content container">
        <div class="headline-circle">
            <h1>Integrated Financial Holdings, Inc.</h1>
            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, fugit.</h3>
        </div>
        <div class="quote-circle">
            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, fugit.</h3>
        </div>
    </div>
</header>