<header class="v-header">
    <div class="fullscreen-video-wrap">
        <video id="header-bg-video" src="images/ifh-video-bg-stock.mov" loop="true"></video>
    </div>
    <div class="header-overlay-layer-1"></div>
    <div class="header-overlay-layer-2"></div>
    <div class="header-overlay-layer-3"></div>
    <div class="header-content container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-1 text-left text-white">
                <h1 class="headline"><span class="font-bold text-aqua">Integrated</span> Financial Holdings, Inc.</h1>
                <h3 class="subhead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, fugit.</h3>
                <a href="#" class="btn btn-light mt-4">Learn More &raquo;</a>
            </div>
        </div>

    </div>
</header>