<section class="v-header">
    <div class="fullscreen-video-wrap">
        <video id="header-bg-video" src="images/ifh-bg-video.mp4" loop="true">
            <source src="images/ifh-bg-video.mp4" type="video/mp4">
        </video>
    </div>
    <div class="header-overlay-layer-1"></div>
    <div class="header-overlay-layer-3"></div>
    <div class="header-content container-fluid">
        <div class="row">
            <div class="col-lg-4 offset-lg-1 text-left text-white d-flex flex-column justify-content-center">
                <h1 class="subhead">At Integrated Financial Holidings, Inc., our highest priorities are solving problems
                    and helping people. We run our business day in and day out with a focus on these four core values.
                    </h3>
                    <a id="main-cta" href="about.html" class="btn btn-primary mt-4">Learn More &raquo;</a>
            </div>
            <div class="col-lg-6 offset-md-1">
                <div id="home-quote">
                    <div class="quote">
                        As demands for more efficient financial service offerings from small businesses increase,
                        providers
                        must harness collaboration and technology to bring themselves closer to the consumers to provide
                        faster,
                        higher quality service.
                        Our entire family of companies are deeply rooted in synergies with our core banking services
                        offered
                        through West Town Bank & Trust, enabling us to more effectively serve our small business
                        clients. New
                        deposit strategies, coupled with strong capital levels, will allow us to continue to expand on
                        strategic
                        growth initiatives and launch new joint ventures beyond 2020 that drive financial success and
                        ultimately
                        client retention.
                    </div>
                    <div class="author">

                        – Eric J. Bergevin, President & CEO
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>