<section class="loader-wrap">
  <div class="loader">
    <div class="loader-inner">
      <img id="loader-logo" src="images/ifh-logo-white.png" alt="">
      <div id="loader-circles">
        <div class="circle circle-1"><span>Ownership</span></div>
        <div class="circle circle-2"><span>Collaboration</span>
        </div>
        <div class="circle circle-3"><span>Passion</span></div>
        <div class="circle circle-4"><span>Empathy</span></div>
      </div>

    </div>
  </div>
</section>