{% macro navBar(logo, textColor, backgroundColor, lineColor) %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed {{backgroundColor}} {{lineColor}}">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="index.html"><img class="img-fluid" src="{{logo}}" width="120" style="width:120px" /></a>
        </div>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link {{textColor}}" href="about.html">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{textColor}}" href="companies.html">Companies</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{textColor}}" href="people.html">People</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{textColor}}" href="https://investors.westtownbancorp.com/">Investor
                        Relations</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{textColor}}" href="https://www.westtownbank.com/newsletter">News &amp;
                        Press</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{textColor}}" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endmacro %}