{% macro navBar(logo, width, textColor, backgroundColor, lineColor) %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg {{backgroundColor}} {{lineColor}}">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="/"><img class="img-fluid" src="{{logo}}" width="{{width}}" style="width:{{width}}px" /></a>
        </div>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link {{textColor}}" href="about">About</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link {{textColor}}" href="companies">Companies</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="companies">West Town Bank & Trust</a></li>
                        <li class="dropdown-item"><a href="subsidiaries">Subsidiaries & Investments</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link {{textColor}}" href="management-team">People</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="management-team">Executive Management Team</a></li>
                        <li class="dropdown-item"><a href="directors">Board of Directors</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{textColor}}" href="http://investors.ifhinc.com">Investor
                        Relations</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{textColor}}" href="http://investors.ifhinc.com/News">News
                        &amp;
                        Press</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{textColor}}" href="contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endmacro %}