<section class="subsidiaries">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="Intro">
          <div class="intro">
            <h4 class="text-body font-normal"><span class="text-dark-blue">SUBSIDIARIES</span> | <span
                class="text-dark-grey">MINORITY INVESTMENTS</span></h4>
            <p class="lead">
              The divestiture of Sound Bank (now Dogwood State Bank) allowed IFH to expand and improve its government
              lending and other niche financial service offerings in 2019. In addition to owning Windsor Advantage, LLC
              and
              West Town Insurance Agency, Inc., IFH launched three new wholly-owned subsidiaries (SBA Loan Documentation
              Services, LLC, Glenwood Structured Finance, LLC and Patriarch, LLC), and engaged in a minority investment
              in
              VeriLeaf, Inc. to help ignite its hemp banking initiative.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row py-0">

    <div class="col-lg-2 offset-lg-1">
      <div class="GSF">
        <div class="circle">
          <div class="front">
            <h4>Glenwood Structured Finance</h4>
          </div>
          <div class="back">
            <img src="images/GSF_Logo_Main.png" class="img-fluid" width="150" alt="">
            <p class="lead">
              Glenwood is a transaction advisory and placement agent created to fill the gaps in the financing processes
              for community and regional lenders, providing a full suite of services for sub-middle market capital
              transactions.
            </p>
            <a href="https://glenwoodstructuredfinance.com/" target="_blank">Visit website &raquo;</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 offset-lg-2">
      <div class="Windsor">
        <div class="circle">
          <div class="front">
            <h4>Windsor Advantage</h4>
          </div>
          <div class="back">
            <img src="images/windsor-advantage-logo.png" class="img-fluid" width="150" alt="">
            <p class="lead">
              Windsor provides community banks and credit unions with a comprehensive outsourced SBA 7(a) and USDA
              lending platform, servicing nearly $2.0 billion in assets for hundreds of lenders across the country.
            </p>
            <a href="https://www.windsoradvantage.com/" target="_blank">Visit website &raquo;</a>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-2">
      <div class="VeriLeaf">
        <div class="circle">
          <div class="front">
            <h4>VeriLeaf</h4>
          </div>
          <div class="back">
            <img src="images/verileaf-logo.png" class="img-fluid" width="150" alt="">
            <p class="lead">
              VeriLeaf is a "RegTech" (Regulatory Technology) platform designed to accelerate WTBT’s review of
              hemp-related
              businesses by automating the onboarding, validation and monitoring processes needed for enhanced due
              diligence for high risk customers.
            </p>
            <a href="https://www.verileaf.io/" target="_blank">Visit website &raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- // row -->
  <div class="row py-0">

    <div class="col-lg-2">
      <div class="Patriarch">
        <div class="circle">
          <div class="front">
            <h4>Patriarch</h4>
          </div>
          <div class="back">
            <img src="images/Patriarch-Logo.png" class="img-fluid" width="150" alt="">
            <p class="lead">
              Patriarch is a real-estate management company focused on asset preservation and the rapid resolution
              associated with select assets within the Bank’s various portfolios.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 offset-lg-1">
      <div class="SBA">
        <div class="circle">
          <div class="front">
            <h4>SBA Loan Documentation Services</h4>
          </div>
          <div class="back">
            <img src="images/SBA-Loan-logo.png" class="img-fluid" width="150" alt="">
            <p class="lead">
              SBA Loan Docs provides a holistic and sequenced approach to the preparation of loan documentation under
              the
              SBA’s 7(a) Loan Program. Staff is comprised of seasoned loan closers and veteran attorneys with decades of
              SBA lending experience.
            </p>
            <a href="https://sbaloandocs.com/" target="_blank">Visit website &raquo;</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-2 offset-lg-1">
      <div class="Insurance">
        <div class="circle">
          <div class="front">
            <h4>West Town Insurance Agency</h4>
          </div>
          <div class="back">
            <img src="images/west-town-insurance-logo.png" class="img-fluid" width="150" alt="">
            <p class="lead">
              West Town Insurance Agency is based in Edenton, North Carolina. As an independent agency, the Company
              represents various carriers and has the ability to compare coverage and pricing to find the best possible
              value for personal or business insurance needs.
            </p>
            <a href="https://www.westtownins.com/" target="_blank">Visit website &raquo;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="Dogwood">
        <div class="circle">
          <div class="front">
            <h4>Dogwood State Bank</h4>
          </div>
          <div class="back">
            <img src="images/dogwood-state-bank-logo.jpg" class="img-fluid" width="150" alt="">
            <p class="lead">
              While still maintaining a minority ownership stake in the Bank, Sound Bank has been successfully divested
              from the Organization and rebranded as Dogwood State Bank with
              a new management team and Board of Directors.
            </p>
            <a href="https://www.dogwoodstatebank.com/" target="_blank">Visit website &raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- // row -->
</section>