<section id="companies">
  <div class="grid-container">
    <div class="Intro">
      <div class="intro">
        <h4>IFH SUBSIDIARIES & INVESTMENTS</h4>
        <p class="lead">
          The divestiture of Sound Bank (now Dogwood State Bank) allowed IFH to expand and improve its government
          lending and other niche financial service offerings in 2019. In addition to owning Windsor Advantage, LLC and
          West Town Insurance Agency, Inc., IFH launched three new wholly-owned subsidiaries (SBA Loan Documentation
          Services, LLC, Glenwood Structured Finance, LLC and Patriarch, LLC), and engaged in a minority investment in
          VeriLeaf, Inc. to help ignite its hemp banking initiative.
        </p>
      </div>
    </div>
    <div class="WTB">
      <div class="circle">
        <div class="front">
          <h4>SBA Loan Documentation Services, LLC</h4>
        </div>
        <div class="back">
          <img src="images/west-town-bank-logo.png" class="img-fluid" width="100" alt="">
          <p class="lead">
            SBA Loan Docs provides a holistic and sequenced approach to the preparation of loan documentation under the
            SBA’s 7(a) Loan Program. Staff is comprised of seasoned loan closers and veteran attorneys with decades of
            SBA lending experience.
          </p>
          <a href="#" target="_blank">Visit website &raquo;</a>
        </div>
      </div>
    </div>
    <div class="Mortgage">
      <div class="circle">
        <div class="front">
          <h4>Mortgage Lending</h4>
        </div>
        <div class="back">
          <p class="lead">
            WTBT promotes savings and home ownership through a variety of
            mortgage programs, including VA, FHA, USDA, Jumbo and Conventional
            loan programs.
          </p>
        </div>
      </div>
    </div>
    <div class="Payments">
      <div class="circle">
        <div class="front">
          <h4>West Town Payments</h4>
        </div>
        <div class="back">
          <p class="lead">
            WTBT offers payment processing solutions for small and medium
            sized businesses of all types, including compliance-driven
            segments through its joint venture with West Town Payments.
          </p>
        </div>
      </div>
    </div>
    <div class="Gov">
      <div class="circle">
        <div class="front">
          <h4>GOVERNMENT LENDING</h4>
        </div>
        <div class="back">
          <p class="lead">
            WTBT is focused on lending programs supported by the U.S. Federal
            Government, including the SBA (7(a), 504) and USDA (B&I, REAP,
            FSA, CF) programs. Since 2011, WTBT has authorized more than $1
            billion in loans to businesses located in 41 states.
          </p>
        </div>
      </div>
    </div>
    <div class="Commercial">
      <div class="circle">
        <div class="front">
          <h4>COMMERCIAL ACCOUNT SERVICES</h4>
        </div>
        <div class="back">
          <p class="lead">
            WTBT has a team dedicated to help design cash management solutions
            based on the unique needs of its small business clients.
          </p>
        </div>
      </div>
    </div>
    <div class="Hemp">
      <div class="circle">
        <div class="front">
          <h4>HEMP BANKING SERVICES</h4>
        </div>
        <div class="back">
          <img src="images/west-town-bank-hemp-logo.jpg" class="img-fluid" width="200" alt="">
          <p class="lead">
            WTBT built a hemp program uniquely tailored to the challenges of
            hemp-related businesses (HRBs) and trademarked “Hemp Banks Here”.
          </p>
        </div>
      </div>
    </div>
    <div class="Small">
      <div class="circle">
        <div class="front">
          <h4>GOVERNMENT LENDING “SMALL LOANS”</h4>
        </div>
        <div class="back">
          <p class="lead">
            WTBT offers technology enabled loan processing solutions to serve
            small businesses with financing needs of less than $350,000.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>