<section id="subsidiaries">
  <div class="grid-container">
    <div class="Intro">
      <div class="intro">
        <h4 class="text-body font-normal"><span class="text-dark-blue">SUBSIDIARIES</span> | <span
            class="text-dark-grey">MINORITY INVESTMENTS</span></h4>
        <p class="lead">
          The divestiture of Sound Bank (now Dogwood State Bank) allowed IFH to expand and improve its government
          lending and other niche financial service offerings in 2019. In addition to owning Windsor Advantage, LLC and
          West Town Insurance Agency, Inc., IFH launched three new wholly-owned subsidiaries (SBA Loan Documentation
          Services, LLC, Glenwood Structured Finance, LLC and Patriarch, LLC), and engaged in a minority investment in
          VeriLeaf, Inc. to help ignite its hemp banking initiative.
        </p>
      </div>
    </div>
    <div class="SBA">
      <div class="circle">
        <div class="front">
          <h4>SBA Loan Documentation Services, LLC</h4>
        </div>
        <div class="back">
          <img src="images/SBA-Loan-logo.png" class="img-fluid" width="200" alt="">
          <p class="lead">
            SBA Loan Docs provides a holistic and sequenced approach to the preparation of loan documentation under the
            SBA’s 7(a) Loan Program. Staff is comprised of seasoned loan closers and veteran attorneys with decades of
            SBA lending experience.
          </p>
          <a href="https://sbaloandocs.com/" target="_blank">Visit website &raquo;</a>
        </div>
      </div>
    </div>
    <div class="Dogwood">
      <div class="circle">
        <div class="front">
          <h4>Dogwood State Bank</h4>
        </div>
        <div class="back">
          <img src="images/dogwood-state-bank-logo.jpg" class="img-fluid" width="150" alt="">
          <p class="lead">
            While still maintaining a minority ownership stake in the Bank, Sound Bank has been successfully divested
            from the Organization and rebranded as Dogwood State Bank with
            a new management team and Board of Directors.
          </p>
          <a href="https://www.dogwoodstatebank.com/" target="_blank">Visit website &raquo;</a>
        </div>
      </div>
    </div>
    <div class="VeriLeaf">
      <div class="circle">
        <div class="front">
          <h4>VeriLeaf</h4>
        </div>
        <div class="back">
          <img src="images/verileaf-logo.png" class="img-fluid" width="75" style="width: 75px;" alt="">
          <p class="lead">
            VeriLeaf is a "RegTech" (Regulatory Technology) platform designed to accelerateWTBT’s review of hemp-related
            businesses by automating the onboarding, validation and monitoring processes needed for enhanced due
            diligence for high risk customers.
          </p>
          <a href="https://www.verileaf.io/" target="_blank">Visit website &raquo;</a>
        </div>
      </div>
    </div>
    <div class="Insurance">
      <div class="circle">
        <div class="front">
          <h4>West Town Insurance Agency</h4>
        </div>
        <div class="back">
          <img src="images/west-town-insurance-logo.png" class="img-fluid" width="150" alt="">
          <p class="lead">
            WestTown InsuranceAgency is based in Edenton, North Carolina. As an independent agency, the Company
            represents various carriers and has the ability to compare coverage and pricing to find the best possible
            value for personal or business insurance needs.
          </p>
          <a href="https://www.westtownins.com/" target="_blank">Visit website &raquo;</a>
        </div>
      </div>
    </div>
    <div class="Windsor">
      <div class="circle">
        <div class="front">
          <h4>Windsor Advantage</h4>
        </div>
        <div class="back">
          <img src="images/windsor-advantage-logo.png" class="img-fluid" width="200" alt="">
          <p class="lead">
            WTBT is focused on lending programs supported by the U.S. Federal
            Government, including the SBA (7(a), 504) and USDA (B&I, REAP,
            FSA, CF) programs. Since 2011, WTBT has authorized more than $1
            billion in loans to businesses located in 41 states.
          </p>
          <a href="https://www.windsoradvantage.com/" target="_blank">Visit website &raquo;</a>
        </div>
      </div>
    </div>
    <div class="GSF">
      <div class="circle">
        <div class="front">
          <h4>Glenwood Structured Finance</h4>
        </div>
        <div class="back">
          <img src="images/GSF_Logo_Main.png" class="img-fluid" width="150" alt="">
          <p class="lead">
            Glenwood is a transaction advisory and placement agent created to fill the gaps in the financing processes
            for community and regional lenders, providing a full suite of services for sub-middle market capital
            transactions.
          </p>
          <a href="https://glenwoodstructuredfinance.com/" target="_blank">Visit website &raquo;</a>
        </div>
      </div>
    </div>
    <div class="Patriarch">
      <div class="circle">
        <div class="front">
          <h4>Patriarch, LLC</h4>
        </div>
        <div class="back">
          <img src="images/Patriarch-Logo.png" class="img-fluid" width="150" alt="">
          <p class="lead">
            Patriarch is a real-estate management company focused on asset preservation and the rapid resolution
            associated with select assets within the Bank’s various portfolios.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>