// Global Styles
@import "inc/variables";
@import "inc/functions";
@import "inc/mixins";
@import "inc/base";


body{
  margin: 0;
  padding:0;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 220px);
}



// Change Nav Links to White when Modal Open 

body.modal-open {
 nav.navbar {
   opacity:.2;
 }
}


// Nav

nav.navbar {
  position: relative;
  z-index: 2000;
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
  //  position: fixed;
   top:0;
   width: 100%;
  }
  height: $nav-height;
  padding-bottom: 0;
  font-family: font-stack(futura);
  color: color(body);
  // padding: calculateRem(20px);
  
  // Logo
  .navbar-brand {
    color: color(white);
    img {
      padding-top: 1rem;
      width: 100px !important;
      /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
      @media (min-width: 768px) {  
       width: 150px !important;
      }
    }
  }
  // Mobile Nav Toggle Button
  .navbar-toggler {
    background-color: transparent;
    width: 50px;
    text-align: center;
    // Nav Toggle Button Icon
    .navbar-toggler-icon {
      color: color(aqua);
      line-height: 30px;
      width: 100%;
    }
  }
}

// Default Nav

.navbar-collapse {
  ul.navbar-nav {
    position: relative;
    li.nav-item {
      margin: 0;
      a.nav-link {
        display:block;
        width: 100%;
        padding-left: .5rem;
        padding-right: .5rem;
        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1160px) {  
          padding-left: 1rem;
          padding-right: 1rem;
        }
        @media (min-width: 1600px) {  
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
        padding-top: 0.75rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        @include transition(all 0.3s ease);
        &:hover {
          color: color(white) !important;
        }
        &:active {
          color: color(white) !important;
        }
        &:focus {
          color: color(white) !important;
        }
      }
      &:hover {
        background-color: $secondary-color;
        a.nav-link {
          color: #fff !important;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 120%;
      height: 8px;
      bottom: -10px;
      right: -15%;
      border-top: 6px solid color(aqua);
      border-left: 6px solid transparent;
      border-bottom: 6px solid transparent;
    }
  }
  .dropdown:hover {
    .dropdown-menu{
      margin-top: -3px;
      padding-top: 0;
      padding-bottom: 0;
      cursor: pointer;
      display: block;
      border-radius: 0;
      .dropdown-item {
        text-transform: uppercase;
        padding-top: .5em;
        padding-bottom: .5em;
        &:hover {
          background-color: color(blue);
          a{
            color: #fff;
            text-decoration: none;
          }
        }
      }
      
    }
  }
}

// Mobile Nav

.navbar-collapse.show,
.navbar-collapse.collapsing {
  background-color: color(dark-blue);
  border-bottom: 5px solid color(aqua);
  padding: calculateRem(30px);
  margin-top: 5em;
  ul.navbar-nav {
    text-align: center;
    li.nav-item {
      a.nav-link {
        color: color(white) !important;
        &:hover {
          color: $primary-color;
        }
        &:active {
          color: $primary-color;
        }
        &:focus {
          color: $primary-color;
        }
      }
    }
    &::after {
      display: none;
    }
  }
}

// Header

body#home{
  background-image: url('../images/home-bg-v2.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  .navbar-collapse.show,
  .navbar-collapse.collapsing {
  ul.navbar-nav {
    li.nav-item {
      a.nav-link {
        color: color(white) !important;
        &:hover {
          color: $primary-color;
        }
        &:active {
          color: $primary-color;
        }
        &:focus {
          color: $primary-color;
        }
      }
    }
  }
}
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    ul.navbar-nav {
      li.nav-item {
        a.nav-link {
          color: white !important;
        }
    }
  }
  }

  @media (max-width: 1399px) {  
    ul.navbar-nav {
      li.nav-item:nth-child(1) {
        a.nav-link {
          color: color(dark-blue) !important;
        }
    }
  }
  }
  @media (max-width: 1299px) {  
    ul.navbar-nav {
      li.nav-item:nth-child(2) {
        a.nav-link {
          color: color(dark-blue) !important;
        }
    }
  }
  }

}



.v-header {
  display: flex;
  align-items: center;
  padding:0;

  .fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    video {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
    }
  }
  .header-overlay-layer-1 {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1;
    opacity: 0.5;
  }
  .header-overlay-layer-2 {
    @extend .header-overlay-layer-1;
    background: color(dark-blue);
    z-index: 4;
    opacity: 0.8;
    clip-path: polygon(0 94%, 100% 85%, 100% 100%, 0% 100%);
    position: fixed;
    bottom:0;
  }
  .header-overlay-layer-3 {
    @extend .header-overlay-layer-1;
    background-color: color(white);
    background-image: url('../images/companies-bg-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 3;
    opacity: 1;
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  
      clip-path: polygon(0 0, 35% 0, 59% 100%, 0% 100%);
    }
  }
  .header-content {
    .row {
      min-height: calc(100vh - 220px);
    }
      z-index: 100;
      #home-left {
        padding-top: 5%;
        * {
          max-width: 100%;
        }
      }
      #home-right {
        padding-top: 5%;
       *{
        max-width: 100%;
       }
      }
      @media (min-width: 1200px) {  
      /* Extra large devices (large desktops, 1200px and up) */
        #home-left {
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         justify-content: flex-end;
        }
        #home-right {
         position: ab;
         right: 2em;
         bottom: 2em;
        }
      }
     
      #home-quote {
        color: #fff;
        position: relative;
        padding: 2em;
        background-color: transparentize(color(dark-blue),.2);
        margin-bottom: 3em;
        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {  
         background-color: transparentize(color(dark-blue),.5);   
        }
        .quote {
          @include font-size(18px);
        }
        .author {
          text-align: right;
          padding-bottom: 1em;
        }
        &::before{
          content: "\f10d";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: -.5em;
          left: -.25em;
          @include font-size(48px);
          color: color(aqua);
        }
        &::after{
          content: "\f10e";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          bottom: -.5em;
          right: -.25em;
          @include font-size(48px);
          color: color(aqua);
        }
      }
    }

    #headline-circles { 
      margin-left: auto;
      margin-right: auto;
      display: grid;
      height: 255px;
      width: 255px;
      text-transform: uppercase;
      /* autoprefixer grid: autoplace */
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 1px 1px;
      grid-template-areas:
        "circle-1 circle-1 circle-1 . . circle-2 circle-2 circle-2 ."
        "circle-1 circle-1 circle-1 . . circle-2 circle-2 circle-2 ."
        "circle-1 circle-1 circle-1 . . circle-2 circle-2 circle-2 ."
        "circle-1 circle-1 circle-1 . . circle-2 circle-2 circle-2 ."
        "circle-3 circle-3 circle-3 circle-3 circle-3 circle-2 circle-2 circle-2 ."
        "circle-3 circle-3 circle-3 circle-3 circle-3 . circle-4 circle-4 circle-4"
        "circle-3 circle-3 circle-3 circle-3 circle-3 . circle-4 circle-4 circle-4"
        "circle-3 circle-3 circle-3 circle-3 circle-3 . circle-4 circle-4 circle-4"
        "circle-3 circle-3 circle-3 circle-3 circle-3 . . . .";

      .circle-1 {
        grid-area: circle-1;
        @include circle(color(dark-grey), #fff, 50px, transparent, transparent, 100%);
        @include font-size(8px);
        .front{
          @include font-size(14px);
        }
        padding:0;
        margin-left: 29px;
        margin-top: 11px;
        
      }
      .circle-2 {
        grid-area: circle-2;
        @include circle(color(blue), #fff, 80px, transparent, transparent, 100%);
        @include font-size(10px);
        .front{
          @include font-size(18px);
        }
        &:hover {
          transform: scale(2.2);
        }
        padding:0;
        margin-top: 8px;
        margin-left: -4px;
       
      }
      .circle-3 {
        grid-area: circle-3;
        @include circle(color(aqua), #fff, 120px, transparent, transparent, 100%);
        @include font-size(15px);
        .front{
          @include font-size(28px);
        }
        &:hover {
          transform: scale(2);
        }
        padding:0;
        margin-top: -3px;
        margin-left: 33px;
        &::after {
          content:"";
          width: 114%;
          height: 114%;
          display:block;
          position: absolute;
          top: 0;
          left: 0;
          margin-left: -7%;
          margin-top: -7%;
          border: 4px solid color(dark-grey);
          border-radius: 50%;
        }
      }
      .circle-4 {
        grid-area: circle-4;
        @include circle(color(dark-grey), #fff, 55px, transparent, transparent, 100%);
        @include font-size(8px);
        .front{
          @include font-size(16px);
        }
        padding:0;
        margin-top: -22px;
        margin-left: 20px;
      
      }
    }
    
  

    
  }



// About Us Section

body#about {
  background-image: url("../images/about-bg-v2.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

section.about {
  min-height: calc(100vh - 220px);
  padding-top: 2rem;
  .container {
    .row {
      color: #fff;
      font-size: 18px !important;
      h2 {
        font-weight: 600;
      }
      &#who-we-are {
        border-bottom: 1px solid color(white);
      }
      &#what-we-do {
        padding-top: 1em;
      }
    }
  }
}

body#management-team {
  background-image: url("../images/team-bg.jpg");
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  .management-team {
    padding-top: 5rem;
  }
}

body#directors {
  background-image: url("../images/team-bg.jpg");
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  .management-team {
    padding-top: 5rem;
  }
}



.team-outer {
  justify-content: center;
}

.person {
  margin-bottom: 1em;
  img {
    width: 130px;
    border-radius: 50%;
    @include box-shadow(0 0 10px rgba(0,0,0,.4));
    transform: scale(1);
    @include transition(all .3s ease);
    &:hover {
      transform: scale(1.05);
      @include box-shadow(0 0 20px transparentize(color(dark-blue),.2));
    }
  }
  h4 {
    margin-top: .5em;
    margin-bottom: 0;
    color: color(blue);
    font-weight: 400;
  }
  a:focus{
    outline:0;
   }
}

.modal-backdrop {
  background-color: color(blue);
  &.show {
    opacity: .8;
  }
}
.modal {
  z-index: 4000;
}

.modal-dialog {

  max-width: 100% !important;
  width: 800px;
  margin-top: 80px;
  @media (min-width: 992px) { 
    margin-top: 0%;
  }
  .modal-content {
    .modal-header {
      border-bottom: 0;
    }
    .modal-body {
      padding: 1em 2em;
    }
    img:hover {
      transform: scale(1);
      @include box-shadow(0 0 10px rgba(0,0,0,.4));
    }
   
    a {
      font-size: 20px;
      margin: 2px;
      color: color(body);
      &:hover {
        text-decoration: none;
        color: color(aqua);
      }
      
    }
  }
}



body#companies {
  background-color: color(white);
  background: url("../images/companies-bg-main.jpg");
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
}

section.companies {
  overflow: show;
  width: 100vw;
  height: 100%;
  @mixin centerCircles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    h4 {
      color: #fff;
      font-weight: 400;
      @media (min-width: 992px) { 
      /* Large devices (desktops, 992px and up) */
        font-size: 20px !important;
      }
    }
  }

  .Intro {
    background-color: transparentize(#fff,.2);
    padding: 1em 3em;
    h4 {
      font-size: 28px !important;
      text-align: center;
      /* Large devices (desktops, 992px and up) */
      @media (min-width: 992px) { 
       text-align: left;
      }
    }

    @include centerCircles();
    @media (min-width: 992px) { 
    background-color: transparent;
    /* Large devices (desktops, 992px and up) */
       padding: 2em 4em 2em 4em;
       width: 65vw;
    }
    @media (min-width: 1400px) {  
      width: 50vw;
    }
    h4 {
      font-weight: 800;

    }
    p{
      font-size: 18px;
    }
  }
  

  ///////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////

  @mixin circleMobilePad {
    @media (max-width: 991px) { 
     padding-right: 1em;
     padding-left: 1em;
     margin: 1em auto 1em auto !important;
     max-width: 500px;
     
    }
  }

  .Commercial {
    @include circleMobilePad();
    margin-top: -10%;
    margin-right: -15%;
    .circle {
      @include flipCircle(
       transparentize(color(aqua),.1),
        color(aqua)
      );
      &:hover {
        @media (min-width: 992px) { 
        transform: scale(2.5) translate(2em,2em);
        img {
          max-width: 60% !important;
        }
      }
      @media (min-width: 1400px) {  
        transform: scale(2) translate(2em,2em);
      }
      }
    }
  }
  .Hemp {
    @include circleMobilePad();
    margin-top: 10%;
    margin-left: -10%;
    .circle {
      @include flipCircle(
        transparentize(color(aqua),.1),
        color(aqua)
      );
      &:hover {
        @media (min-width: 992px) { 
          transform: scale(2.75) translate(2em,2em);
          padding: .5em;
          padding-bottom: 100%;
          img {
            max-width: 80% !important;
          }
          p.lead {
            font-size: 8px;
          }
          a {
           font-size: 9px; 
          }
        }
        @media (min-width: 1400px) { 
          transform: scale(2) translate(2em,2em);
          p.lead {
            font-size: 14px;
          }
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
  .WTB {
    @include circleMobilePad();
    padding: 5%;
    margin-top: -25%;
    .circle {
      @include flipCircle(
        color(dark-blue),
        color(dark-blue)
      );
      &:hover {
        @media (min-width: 992px) { 
        transform: scale(2.5) translate(-2em,2em);
        img {
          max-width: 60% !important;
        }
        }
        @media (min-width: 1400px) { 
          transform: scale(2) translate(-2em,2em);
          }
      }
    }
  }
  .Small {
    @include circleMobilePad();
    margin-top: -20%;
    padding: 0% 10% 15% 20%;
    .circle {
      @include flipCircle(
        transparentize(color(aqua),.1),
        color(aqua)
      );
      &:hover {
        @media (min-width: 992px) { 
        transform: scale(2.5) translate(2em,-2em);
        img {
          max-width: 60% !important;
        }
        }
        @media (min-width: 1400px) { 
          transform: scale(2) translate(2em,-2em);
          }
      }
    }
  }
  .Gov {
    @include circleMobilePad();
    margin-top: -15%;
    margin-left: 15%;
    .circle {
      @include flipCircle(
        color(aqua),
        color(aqua)
      );
      &:hover {
        @media (min-width: 992px) { 
        transform: scale(2.5) translate(2em,-4em);
        img {
          max-width: 60% !important;
        }
        }
        @media (min-width: 1400px) { 
          transform: scale(2) translate(2em,-4em);
          }
      }
      &::after {
        content:"";
        width: 106%;
        height: 106%;
        margin-left: -3%;
        margin-top: -3%;
        border: 8px solid color(dark-grey);
        @media (min-width: 992px) { 
        width: 110%;
        height: 110%;
        margin-left: -5%;
        margin-top: -5%;
        border: 7px solid color(dark-grey);
      }
        @media (min-width: 1400px) {  
          width: 108%;
          height: 108%;
          margin-left: -4%;
          margin-top: -4%;
          border: 8px solid color(dark-grey);
        }
        @media (min-width: 1600px) {  
          width: 107%;
          height: 107%;
          margin-left: -3.5%;
          margin-top: -3.5%;
          border: 8px solid color(dark-grey);
        }
        display:block;
        position: absolute;
        top: 0;
        left: 0;
       
        border-radius: 50%;
      }
    }
  }
  .Payments {
    @include circleMobilePad();
    padding: 0% 5% 5% 5%;
    margin-right: 10%;
    margin-top: -15%;
    .circle {
      @include flipCircle(
        color(dark-grey),
        color(dark-grey)
      );
      &:hover {
        @media (min-width: 992px) { 
        transform: scale(2.5) translate(-2em,-4em);
        img {
          max-width: 60% !important;
        }
        }
        @media (min-width: 1400px) { 
          transform: scale(2) translate(-2em,-4em);
          }
      }
    }
  }
  .Mortgage {
    @include circleMobilePad();
    margin-top: -75%;
    padding-right: 5%;
    .circle {
      @include flipCircle(
        color(aqua),
        color(aqua)
      );
      @media (min-width: 992px) { 
      .back {
        padding: 1em;
      }
     
    }
      &:hover {
        @media (min-width: 992px) { 
        transform: scale(2.75) translate(-3em,0em);
        img {
          max-width: 60%;
        }
        p.lead {
          font-size: 8px;
        }
        a {
          font-size: 9px;
        }
        }
        @media (min-width: 1400px) { 
          transform: scale(2) translate(-3em,0em);
          
          p.lead {
            font-size: 12px;
          }
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
  
}
body#subsidiaries {
  background-color: color(white);
  background: url("../images/companies-bg-main.jpg");
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
}
section.subsidiaries {  
  @mixin centerCircles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    * {
      max-width: 100%;
    }
    img {
      margin-bottom: .5em;
      max-width: 80%;
    }
    h4 {
      color: #fff;
      font-weight: 400;
      @media (min-width: 992px) { 
      /* Large devices (desktops, 992px and up) */
        font-size: 20px !important;
      }
    }
  }


  .Intro {
    background-color: transparentize(#fff,.2);
    padding: 1em 3em;
    h4 {
      font-size: 28px !important;
      text-align: center;
      /* Large devices (desktops, 992px and up) */
      @media (min-width: 992px) { 
       text-align: left;
      }
    }

    @include centerCircles();
    @media (min-width: 992px) { 
    background-color: transparent;
    /* Large devices (desktops, 992px and up) */
       padding: 2em 4em 2em 4em;
       width: 65vw;
    }
    @media (min-width: 1400px) {  
      width: 50vw;
    }
    h4 {
      font-weight: 800;

    }
    p{
      font-size: 18px;
    }
  }

  ///////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////

  @mixin circleMobilePad {
    * {
      max-width: 100% !important; 
    }
    @media (max-width: 991px) { 
     padding-right: 1em;
     padding-left: 1em;
     margin: 1em auto 1em auto !important;
     max-width: 500px;
     
    }
  }


  .Windsor {
    @include circleMobilePad();
    padding: 5%;
    margin-top: -20%;
    .circle {
      @include flipCircle(
        color(dark-blue),
        color(dark-blue)
      );
      &:hover {
        @media (min-width: 992px) { 
        transform: scale(2.25) translate(-2em,2em);
        }
        @media (min-width: 1400px) { 
          transform: scale(1.8) translate(-2em,2em);
          }
      }
      &::after {
        content:"";
        width: 107%;
        height: 107%;
        display:block;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -3.5%;
        margin-top: -3.5%;
        border: 8px solid color(dark-grey);
        border-radius: 50%;
      }
    }
  }
  .Dogwood {
    @include circleMobilePad();
    margin-top: -75%;
    padding-right: 5%;
    .circle {
      @include flipCircle(
        color(dark-grey),
        color(dark-grey)
      );
        &:hover {
          @media (min-width: 992px) { 
          transform: scale(2.75) translate(-3em,0em);
          img {
            max-width:60%;
          }
          p.lead {
            font-size: 7px;
          }
          a,p {
            font-size: 8px;
          }
          }
          @media (min-width: 1400px) { 
            transform: scale(2) translate(-3em,0em);
            p.lead {
              font-size: 12px;
            }
            a,p {
              font-size: 14px;
            }
            }

        }
  }
}
  .VeriLeaf {
    @include circleMobilePad();
    margin-top: -50%;
    padding-right: 5%;
    .circle {
      @include flipCircle(
        color(dark-grey),
        color(dark-grey)
      );
     
        &:hover {
          @media (min-width: 992px) { 
          transform: scale(3) translate(-3em,3em);
          img {
            max-width:60%;
          }
          p.lead {
            font-size: 7px;
          }
          a,p {
            font-size:8px;
          }
          }
          @media (min-width: 1400px) { 
            transform: scale(2) translate(-3em,3em);
            p.lead {
              font-size: 12px;
            }
            a,p {
              font-size: 14px;
            }
            }
        }
  }
}
  .Insurance {
    @include circleMobilePad();

    margin-right: 10%;
    margin-top: -15%;
    .circle {
      @include flipCircle(
        color(dark-blue),
        color(dark-blue)
      );
      &:hover {
        @media (min-width: 992px) { 
        transform: scale(3.25) translate(-2em,-4em);
        img {
          max-width: 60%;
        }
        p.lead {
          font-size: 7px;
        }
        a,p {
          font-size: 7.5px;
        }
        }
        @media (min-width: 1400px) { 
          transform: scale(2.25) translate(-2em,-4em);
          img {
            max-width: 60%;
          }
          p.lead {
            font-size: 12px;
          }
          a,p {
            font-size: 13px;
          }
          }
      }
  }
  }

  .SBA {
    @include circleMobilePad();
    margin-top: -25%;
    margin-right: 15%;
    .circle {
      @include flipCircle(
        color(dark-blue),
        color(dark-blue)
      );
      &:hover {
        @media (min-width: 992px) { 
        transform: scale(2.25) translate(1em,-5em);
        }
        @media (min-width: 1400px) { 
          transform: scale(1.8) translate(1em,-5em);
          }
      }
    }
}
  
  .GSF {
    @include circleMobilePad();
    margin-top: 0;
    margin-right: 0;
    padding: 0em;
    @media (min-width: 1200px) {  
      padding: .5em;  
    }
    .circle {
      @include flipCircle(
       color(dark-blue),
        color(dark-blue)
      );
      &:hover {
        @media (min-width: 992px) { 
        transform: scale(2.5) translate(2em,0em);
        img {
          max-width: 60%;
        }
        p.lead {
          font-size: 8.5px;
        }
        a,p {
          font-size: 9px;
        }
      }
      @media (min-width: 1400px) {  
        transform: scale(2) translate(2em,0em);
        img {
          max-width: 60%;
        }
        p.lead {
          font-size: 12px;
        }
        a,p {
          font-size: 13px;
        }
      }
      
      }
    }
}
  .Patriarch {
    grid-area: Patriarch;
    @include circleMobilePad();
    margin-top: -15%;
    margin-left: 5%;
    @media (min-width: 1200px) {  
      margin-top: -15%;
      margin-left: 15%;
    }
    .circle {
      @include flipCircle(
        color(dark-blue),
        color(dark-blue)
      );
      &:hover {
        @media (min-width: 992px) { 
        transform: scale(2.8) translate(3em,-4em);
        img {
          max-width: 60%;
        }
        p.lead {
          font-size:8.5px;
        }
        a,p {
          font-size: 9.5px;
        }
        }
        @media (min-width: 1400px) { 
          transform: scale(2) translate(2em,-4em);
          img {
            max-width: 60%;
          }
          p.lead {
            font-size: 12px;
          }
          a,p {
            font-size: 13px;
          }
          }
         
      }
    }
  }
}


body#contact{
  background-image: url("../images/contact-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
section.contact {
  #contact-content {
    padding-top: 3rem;
    #contact-content-inner {
      color: #fff;
      padding: 4rem;
      a {
        color: #fff;
        &:hover {
          color: color(aqua);
          text-decoration: none;
        }
      }
    }
    .google-maps {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}
}

// Loader Styles

#loader-circles {
  position: absolute;
  top:0;
  left:0;
  // z-index: -1000;
  display: grid;
  height: 150px;
  width: 150px;
  min-width:150px;
  max-width:150px;
  text-transform: uppercase;
  /* autoprefixer grid: autoplace */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "l-circle-1 l-circle-1 l-circle-1 . . l-circle-2 l-circle-2 l-circle-2 ."
    "l-circle-1 l-circle-1 l-circle-1 . . l-circle-2 l-circle-2 l-circle-2 ."
    "l-circle-1 l-circle-1 l-circle-1 . . l-circle-2 l-circle-2 l-circle-2 ."
    "l-circle-1 l-circle-1 l-circle-1 . . l-circle-2 l-circle-2 l-circle-2 ."
    "l-circle-3 l-circle-3 l-circle-3 l-circle-3 l-circle-3 l-circle-2 l-circle-2 l-circle-2 ."
    "l-circle-3 l-circle-3 l-circle-3 l-circle-3 l-circle-3 . l-circle-4 l-circle-4 l-circle-4"
    "l-circle-3 l-circle-3 l-circle-3 l-circle-3 l-circle-3 . l-circle-4 l-circle-4 l-circle-4"
    "l-circle-3 l-circle-3 l-circle-3 l-circle-3 l-circle-3 . l-circle-4 l-circle-4 l-circle-4"
    "l-circle-3 l-circle-3 l-circle-3 l-circle-3 l-circle-3 . . . .";

    .circle {
      // animation: grow 1.6s linear 1;
      transform: scale(1);
      animation: pulse 1s ease-out 1;
      span {
        display:block;
      }
    }
  .circle-1 {
    grid-area: l-circle-1;
    @include circle(color(dark-grey), #fff, 42px, transparent, transparent, 100%);
    @include font-size(8px);
    .front{
      @include font-size(14px);
    }
    font-size: 6px;
    padding:0;
    margin-left: 7px;
    margin-top: -16px;
    animation-delay: .4s;
  }
  .circle-2 {
    grid-area: l-circle-2;
    @include circle(color(blue), #fff, 60px, transparent, transparent, 100%);
    @include font-size(10px);
    .front{
      @include font-size(18px);
    }
    &:hover {
      transform: scale(2.2);
    }
    font-size: 7px;
    padding:0;
    margin-top: -20px;
    margin-left: -12px;
    animation-delay: 1.2s;
  }
  .circle-3 {
    grid-area: l-circle-3;
    @include circle(color(aqua), #fff, 74px, transparent, transparent, 100%);
    @include font-size(15px);
    .front{
      @include font-size(28px);
    }
    &:hover {
      transform: scale(2);
    }
    padding:0;
    margin-top: -22px;
    margin-left: 10px;
    animation-delay: 2s;

    
  }
  .circle-4 {
    grid-area: l-circle-4;
    @include circle(color(dark-grey), #fff, 30px, transparent, transparent, 100%);
    @include font-size(8px);
    .front{
      @include font-size(16px);
    }
    font-size: 6px;
    padding:0;
    margin-top: -35px;
    margin-left: 18px;
    animation-delay: 2.8s;
  }
}



section#other {
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}

.loader-wrap {
  position: absolute;
  top:-120%;
  left:-120%;
  z-index: -1000;
  padding-top:0;
  background-color: color(dark-blue);
  opacity:1;
  animation: bye 5s linear 1;
  height: 100vh;
  width: 100vw;
.loader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .loader-inner {
    position: relative;
    margin-top:-150px;
    margin-left: -75%;
    @media (min-width: 992px) { 
      margin-left: -200px;
    }
    #loader-logo {
      animation: appear 1.8s linear 1;
      position: absolute;
      top:0;
      left:0;
      width: 300px;
      margin-top: -17px;
    }
  }
  
}
}

body {
  animation: preventScroll 5s linear 1;
}

@keyframes preventScroll {
  0% {
    height: 100vh;
    overflow:hidden;
  }
  100% {
    height: 100vh;
    overflow:hidden;
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseText {
  0% {
    display: none;
  }
  50% {
    display: block;
  }
  100% {
    display: none;
  }
}

@keyframes bye {
  0% {
    z-index: 4000;
    top: 0;
    left:0;
    opacity: 1;
  }

  80% {
    z-index: 4000;
    top: 0;
    left:0;
    opacity: 1;
  }
  100% {
    z-index: -1000;
    top: 0;
    left:0;
    opacity: 0;
  }
}





footer {
  position: relative;
  min-height: 120px;
  margin-bottom:0;

  a i::before {
    position: relative;
    top:1px;
  }

  @include font-size(12px);
  img{
    margin-top:0px;
    margin-bottom: 5px;
  }
  p{
    margin-bottom:0;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  .footer-overlay {
      @extend .header-overlay-layer-1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width:100%;
      background: color(dark-blue);
      z-index: 4;
      opacity: .8;
      @media (min-width: 992px) { 
      /* Large devices (desktops, 992px and up) */
      clip-path: polygon(0 53%, 100% 0, 100% 100%, 0% 100%);
      }
    }
    #footer-content {
      position: relative;
      z-index: 5;
      padding-top: 2em;
      padding-bottom: 1em;
    }
}


#pardotForm, #googleMaps {
  width: 1px;
  min-width: 100%;
}